main {
  padding: 50px 240px;
}
.features-container {
  display: flex;
  align-items: center;
  gap: 76px;
}
.features-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 17px;
}
.feature-heading {
  color: var(--dark-03, #727272);
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 25px;
  width: 33.429vw;
}
.feature-paragraph {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
  width: 38.286vw;
}
.features-image {
  width: 20vw;
}
/* this is feature style end */
/* now start the feature list style */

.list-container {
  display: flex;
  gap: 146px;
  margin-top: 130px;
}
.list-content {
  /* height: 61rem; */
  padding-top: 52px;
}
.line-heading {
  display: flex;
  gap: 21px;
  align-items: center;
}
.list-des-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-description {
  width: 500px;
  height: 105px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-p {
  line-height: 26px;
  width: 100%;
  line-height: 26px;
  margin: 30px 0;
}
.list-p-kerpa {
  width: 100%;
  line-height: 26px;
}
.list-head {
  width: 29rem;
}
.list-h {
  font-size: 20px;
  color: #131313;
  font-weight: 600;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: -500px;
}
.btn-list {
  border-radius: 8px;
  background: #ff900e;
  width: 342px;
  height: 200px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  line-height: 70px;
  padding: 20px;
  position: relative;
  top: -150px;
  left: 60px;
}

@media screen and (max-width: 576px) {
  main {
    padding: 0;
  }
  .features-container {
    flex-direction: column-reverse;
  }
  .feature-heading,
  .feature-paragraph {
    width: 90vw;
    text-align: center;
  }
  .features-content {
    text-align: center;
  }
  .features-image-container {
    justify-items: center;
    gap: 10px;
  }
  .features-image {
    width: 80%;
  }

  /* main section list style start */
  .list-container {
    flex-direction: column;
  }
  .list-description {
    width: 83.333vw;
    height: auto;
  }
  .list-image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .feature-list-img {
    width: 90%;
  }
  .btn-list {
    position: static;
    height: 50px;
    width: 55.556vw;
    padding: 0;
    font-size: 0.5rem;
    line-height: normal;
    margin-top: 40px;
    font-size: 15px;
  }
  .btn-under {
    font-size: 0;
    font-weight: normal;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  main {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .features-content {
    margin-top: 20px;
  }
}
